@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Kagitingan';
  src: url('/fonts/kagitingan/v2_-Kagitingan-Bold.woff') format('woff');
}
@font-face {
  font-family: 'BrittanySignature';
  src: url('/fonts/brittany/BrittanySignature.woff') format('woff');
}

.font-kagitingan { font-family: 'Kagitingan', system-ui, sans-serif; }

.font-brittany { font-family: 'BrittanySignature', system-ui, sans-serif;}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}